<ion-content [fullscreen]="true" class="ion-padding custom-bg">
 <div class="flex flex-col items-center justify-center h-full px-6">
  <div class="absolute w-72 h-72 bg-green-500 opacity-20 blur-3xl rounded-full">
  </div>
  <div class="relative w-full max-w-md bg-zinc-900/90 backdrop-blur-md 
                rounded-2xl shadow-2xl border border-green-500/30 p-6">

   <div class="text-center mb-6">
    <div class="text-green-400 text-4xl mb-2">
     <i class="fa-solid fa-user-circle"></i>
    </div>
    <h2 class="text-3xl font-bold text-white">
     Welcome 👋
    </h2>
    <p class="text-gray-400 mt-2 text-sm">
     Enter your username to continue
    </p>
   </div>
   <ion-item lines="none" class="welcome-item rounded-xl bg-black/40 border border-green-500/40 mb-5 px-2">
    <i class="fa-solid fa-user text-green-400 mr-2"></i>

    <ion-input type="text" placeholder="Enter username" [(ngModel)]="username" clearInput="true" class="welcome-input">
    </ion-input>
   </ion-item>
   <ion-button expand="block" shape="round" class="font-semibold text-base" (click)="onEnter()">
    Enter
   </ion-button>
  </div>
 </div>

</ion-content>

<app-alert [title]="'Lan-cHat'" [alertMessage]="'Welcome to Lan-cHat'" [show]="showAlert"
 (showChange)="showAlert=$event" [type]="'success'"></app-alert>